@import "reset.css";

body {
  height: 97vh;
}

.container {
  width: 100vw;
  height: 300px;
  background-color: deepskyblue;
  padding: 30px;
}

.box {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background-color: deeppink;
}
