@import "reset.css";
* {
  box-sizing: border-box;
}
.main {
  width: 340px;
  height: 900px;
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.status-bar {
  height: 100px;
  box-sizing: border-box;
  background-color: #ffce33;

  padding: 30px 10px;
  font-size: 17px;
  font-weight: 600;

  display: flex;
  justify-content: center;
}
.status-bar__col {
  width: 33%;
}
.status-bar__col:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__col:last-child {
  display: flex;
  justify-content: flex-end;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: -20px;

  position: relative;
}
.search-bar {
  border-color: rgba(0, 0, 0, 0);
  border-radius: 18px;
  height: 50px;
  width: 320px;
  padding-left: 30px;
  box-shadow: 0px 5px 10px -9px black;
}
.search-icon {
  position: absolute;
  right: 30px;
  top: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.first {
  margin: 32px 0px 0px 15px;
  font-size: 20px;
  font-weight: 700;
}
.first-box {
  margin-top: 25px;
  box-sizing: border-box;
  height: 160px;

  display: flex;
}
.picture {
  border-radius: 7px;
  margin: 0px 20px 0px 15px;
}
.explain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.picture-title {
  font-size: 18px;
  font-weight: 700;
}
.picture-author {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.picture-star {
  color: #ffce33;
}
.picture-star-empty {
  color: #ededed;
}
.picture-box-controlla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.picture-box {
  background-color: rgb(237, 237, 237);
  width: 90px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}
.picture-box span {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
}
#bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffce33;
}
.picture-box-controllb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.picture-box-black {
  position: absolute;
  right: -10px;
  background-color: black;
  color: white;
  width: 120px;
  height: 30px;
}
.second {
  margin: 33px 0px 20px 15px;
  font-size: 20px;
  font-weight: 700;
}
.second-box {
  box-sizing: border-box;
  height: 170px;
  margin-left: 5px;

  overflow-x: scroll;
  overflow-y: hidden;
  /* 스크롤 창 설정 여기서!! */

  display: flex;
}
.second__image {
  height: 160px;
  width: 81px;
  margin: 10px 10px 0px 10px;
}
.second-box-piture {
  height: 120px;
  width: 81px;
  border-radius: 7px;
}
.second__image .picture-star {
  font-size: 5px;
}
.third {
  margin: 15px 0px 20px 15px;
  font-size: 20px;
  font-weight: 700;
}
.third-box {
  box-sizing: border-box;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.third__piture {
  height: 140px;
  width: 170px;
  border-radius: 7px;
  margin: 0px 15px 30px 15px;
}
.third-box div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 100%;
}

.third__name {
  font-size: 16px;
  font-weight: 800;
  margin: 18px 0;
  line-height: 100%;
}
.third__sub {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
